<!DOCTYPE html>
<html>
    <head><title>여가계획</title></head>
    <body>
        <p>여가계획</p>
        <p>시간표</p>
        <p id='test'></p>
        <table border="1">
            <tr><th>시간</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th></tr>
            <tr><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
        </table>
        <button>적용하기</button>
        
    </body>
    <script>
        
        
    </script>
    
    
</html>