<!DOCTYPE html>
<html>
    <head><title>main page</title></head>
    <body>
        <script>
          
        </script>
        메인페이지!!
        <table border = "1" >
           
            <tr>
                <th>test</th>
                <td>1</td>
                <td>-</td>
            </tr>
            <tr>
                <th>test</th>
                <td>2</td>
                <td>-</td>
                
            </tr>
            
        </table>
        <form action="/MainPage/sugang" method="get">
            <button type="submit"> 수강신청 </button>
        </form>
        <form action="/MainPage/freeTime" method="get">
            <button type="submit"> 여가계획 </button>
        </form>
        
    </body>
    
    
</html>