<!DOCTYPE html>
<html>
    <script> 
        function moveClose() {//팝업창 닫음
          opener.location.href="/";
          self.close();
        }
    
        function btn(){ alert('회원가입 완료'); } //회원가입 완료 alert 창
    </script>
    <head><h1>Register</h1></head>
    <body>
        <form action="/register" method="post">
            <label>nickname</label>
            <input type="text" name="nick" id="nick"><br>
            <label>id</label>
            <input type="text" name="id" id="id"><br>
            <label>password</label>
            <input type="password" name="pw" id="pw"><br>  
            <button type="submit"  onclick="btn(), moveClose()">회원가입</button>
        </form>
        
            <input type="button" value="뒤로가기" onclick="moveClose();" />
        
    </body>
</html>