<!DOCTYPE html>
<html>
    <head><title>main page</title></head>
    <body>
        <form>
            NickName : <input id='username' type='text'/><br>
            ID : <input id='userid' type='text'/><br>
            비밀번호 : <input id='pwd' type='password'/>
        </form>
        
        <form>
            <button> 회원가입 </button>
        </form>
        
    </body>
</html>