<!DOCTYPE html>
<html>
    <head><title>main page</title></head>
    <body>
        <form>
            NickName : <input id='username' type='text'/><br>
            ID : <input id='userid' type='text'/><br>
            비밀번호 : <input id='pwd' type='password'/>
        </form>
        <!-- 버튼누를시 alert창이 뜨며 가입완료 메시지. 아직 구현 안함 --> 
        <form>
            <button> 회원가입 </button>
        </form>
        
    </body>
</html>