<!DOCTYPE html>
<html>
    <head><title>수강신청</title></head>
    <body>
        <p>수강신청</p>
        <p>시간표</p>
        <p id='test'></p>
        <p id='test2'></p>
        <table id='subjectTable' ></table>
        <br>
        <table id='TimeTable'>
            <tr height="30"><th>시간</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th></tr>
            <tr id='cells' height="50"><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
        </table>
        <button>수강신청</button> 
        
    </body>
    <style>
        table, td, th{
            border:1px solid #444444;
            
        }
        th, td{
            text-align:center;
            width:100px;
            height:50px;
        }
        th{
            height:30px;
            background-color:dimgrey;
            color: floralwhite;
        }
        .area0{background-color:lightgrey;}
        .area1{background-color:palegoldenrod;}
        .area2{background-color:lightcoral;}
        .area3{background-color:sandybrown;}
        .area4{background-color:lightblue;}
        .area5{background-color:mediumpurple;}
        .area6{background-color:pink;}
        .area7{background-color:mediumseagreen;}
    </style>
    <script>
        var subjectlist=[
            {area:0, name:"컴퓨팅사고와 인공지능", hours:1},            //no.0
            {area:0, name:"기초컴퓨터프로그래밍", hours:1},             //no.1
            {area:0, name:"고전읽기와토론", hours:2},                   //no.2
            {area:1, name:"교양으로서의 고고학", hours:3},              //no.3
            {area:2, name:"일본 문화의 이해", hours:3},                //no.4
            {area:2, name:"금융/증권보험분쟁과피해자구제", hours:3},    //no.5
            {area:3, name:"한국 음악과 영화", hours:1},                 //no.6
            {area:3, name:"현대예술로 만나는 지역", hours:2},          //no.7
            {area:4, name:"수학", hours:3},                           //no.8
            {area:4, name:"뇌과학과 창의성", hours:2},                  //no.9
            {area:5, name:"현대사회와 스포츠", hours:1},                //no.10
            {area:7, name:"예술과정치", hours:2},                       //no.11
            {area:7, name:"감염병과 사회의 변화", hours:3}              //no.12
            
            
        ];            
        var day_3=[
            {no:0, row_num:0, start_time:0 },
            {no:3, row_num:0, start_time:3 },
            {no:5, row_num:0, start_time:6 },
            {no:2, row_num:1, start_time:1 },
            {no:7, row_num:1, start_time:4 },
            {no:9, row_num:1, start_time:7 },
            {no:6, row_num:2, start_time:0 },
            {no:4, row_num:2, start_time:2 },
            {no:11, row_num:2, start_time:6 },
            {no:8, row_num:3, start_time:1 },
            {no:10, row_num:3, start_time:5 },
            {no:12, row_num:3, start_time:6 },
        ];
        //===========================================================================================================================
        //위의 subjectlist와 day_num 리스트만 주어진다면 다음 코드가 수강신청표 table을 생성한다.
        var i,j,k=0;
        var str2='<tr><th>시간</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th></tr><tr><td rowspan=\"4\"></td>';
        
        for(i=0;i<4;i++){
            if(i!=0){
                str2+='<tr>';
            }
            for(j=0;j<9;j++){
                if(k<day_3.length&&day_3[k].row_num==i&&day_3[k].start_time==j){
                    str2+='<td title="과목 코드 : '+day_3[k].no+'" class="subject area'+subjectlist[day_3[k].no].area+'" colspan=\"'+subjectlist[day_3[k].no].hours+'\">'+subjectlist[day_3[k].no].name+'</td>';
                    j+=(subjectlist[day_3[k].no].hours-1);
                    k+=1;
                }else{
                    str2+='<td></td>';
                }

            }
            str2+='</tr>';
            
        }
        const sugang_table=document.getElementById('subjectTable');
        sugang_table.innerHTML=str2;
        const mytable=document.getElementById('TimeTable');
        const mycells=mytable.getElementsByClassName('mysubject');
        //=========================================================================================================================

        const cells=sugang_table.getElementsByClassName('subject'); //class명에 subject를 포함하고 있는 element 전체
        var cellstr=["<td></td>","<td></td>","<td></td>","<td></td>","<td></td>","<td></td>","<td></td>","<td></td>","<td></td>"];     //총 9개의 셀
        var subarr=[]; //시간표에 추가된 과목의 day_3에서의 인덱스
        var arri=0;     //subarr의 원소 개수(크기)
        //ex)cellstr[0]은 9시, cellstr[1]은 10시의 셀을 나타냄
        
        //==================================메인페이지로부터 전달받은 cellstr과 과목 list가 있으면 다음 코드로 시간표에 수업을 추가하는 기능이 구현된다.====================
        for(let x=0;x<cells.length;x++){    //x의 값은 day_num의 index와 같다.
            cells[x].addEventListener('click',(e)=>{    //교과목이 표시된 셀을 클릭할 시 일어나는 이벤트
                let isoverlap=false;    //중복 여부를 확인하기위한 플래그
                for(let y=0;y<subjectlist[day_3[x].no].hours;y++){
                    if(cellstr[day_3[x].start_time+y]!='<td></td>') isoverlap=true; //추가하고자 하는 시간 범위에 빈 단일 셀이 아닌 게 있을 경우
                }

                if(isoverlap){
                    alert('시간표가 중복됩니다!');
                }else{              //중복이 아닐 경우
                    cellstr[day_3[x].start_time]='<td class="mysubject area'+subjectlist[day_3[x].no].area+'" colspan="'+subjectlist[day_3[x].no].hours+'">'+subjectlist[day_3[x].no].name+'</td>';
                    subarr[arri++]=x;     //day_num의 index

                    for(let y=1;y<subjectlist[day_3[x].no].hours;y++){
                        cellstr[day_3[x].start_time+y]="";
                    }
                    
                    
                    document.getElementById('cells').innerHTML="<td></td>";
                    for(x in cellstr){
                        document.getElementById('cells').innerHTML+=cellstr[x];
                    }


                    document.getElementById('test2').innerHTML=arri;

                    mycells=mytable.getElementsByClassName('mysubject');
                    //mycells=mytable.getElementsByClassName('mysubject'); //class명에 mysubject를 포함하고 있는 element 전체(시간표에 추가된 수업)

                    

                }
                
            });

            cells[x].addEventListener('mouseover',(e)=>{    //수강신청표에서 교과목이 표시된 셀에 마우스 커서를 올릴 시 일어나는 이벤트
                
            });
        }

        for(let t=0;t<arri;t++){    //mycells.length는 현재 시간표에 추가된 과목의 개수와 같다
            mycells[t].addEventListener('click',(e)=>{    //교과목이 표시된 셀을 클릭할 시 일어나는 이벤트
                document.getElementById('test').innerHTML="click mysub";
                //subarr[t]=>
                            
                cellstr[day_3[subarr[t]].start_time]='<td></td>';
                for(let y=1;y<subjectlist[day_3[subarr[t]].no].hours;y++){
                    cellstr[day_3[subarr[t]].start_time+y]="<td></td>";
                }
                for(let s=t;s<arri-1;s++)
                    subarr[t]=subarr[t+1];
                arri--;


                document.getElementById('cells').innerHTML="<td></td>";
                for(x in cellstr){
                    document.getElementById('cells').innerHTML+=cellstr[x];
                }
                            
                document.getElementById('test2').innerHTML=arri;
            });

            mycells[t].addEventListener('mouseover',(e)=>{    //시간표에서 교과목이 표시된 셀에 마우스 커서를 올릴 시 일어나는 이벤트
                            
            });
        }



    </script>
    
    
</html>